extends ./template.jade

block content
    <!--Thanks alert Box-->
    <!--In the Middle-->
    div.alert.alert-success
        strong
            i.fa.fa-heart
            i.fa.fa-heart
            i.fa.fa-heart
        | Thanks for contributing. Your generosity is appreciated wholeheartedly. 
        i.fa.fa-smile-o
        br
        br
        | Go back to 
        a.alert-link(href="index.html")
            | homepage 
